body {
    margin: 0 auto;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(to right, #444cf7, #444cf7 1px, #e5e5f7 1px, #e5e5f7);
color: black;
}

.main-post {
    background: #e5e5f7;
    display: flex;
    flex-direction: column;
    margin: 1rem; 
    text-align: center;
    border: black 2px solid;
}

.wrapper {
    background:#e5e5f7;
    border: black 2px solid;
}

h1 {
    font-size: 3rem;
}

ul {
    list-style-type: none;
}

li {
  
}

.icon-title {
    text-align: center;
    margin-bottom: 3rem;
}

.icons {
    display: flex;
    justify-content: space-around;
}

a:visited { text-decoration: none; }